@using KnowledgeBase.Examples.TicTacToe.TicTacToeGame
@{
    ViewData["Title"] = "TicTacToe Game";
}

<div class="text-center">
    <h1 class="display-4">TicTacToe Game</h1>
    
    <input type="text" name="yourName" id="yourName" placeholder="Enter your name">
    
    <button id="searchOpponentBtn" onclick="exampleJsFunctions.searchOpponentBtn()">
        Search an opponent
    </button>
    <br>
    
    <p name="opponentsName" id="opponentsName">
        userVariable = @JsMethods.userVariable
    </p>
    
    <button id="startGameBtn" onclick="startGameBtn()">Go!</button>
    
    <table>
        <tr>
            <td class="cell" id=0></td>
            <td class="cell" id=1></td>
            <td class="cell" id=2></td>
        </tr>
        <tr>
            <td class="cell" id=3></td>
            <td class="cell" id=4></td>
            <td class="cell" id=5></td>
        </tr>
        <tr>
            <td class="cell" id=6></td>
            <td class="cell" id=7></td>
            <td class="cell" id=8></td>
        </tr>
    </table>
</div>

<script src="~/js/tic_tac_toe.js"></script>