@{
    ViewData["Title"] = "Welcome to TicTacToe";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tic-Tac-Toe game</h1>
    <p>If you want to play Tic-Tac-Toe game, click the button below!</p>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="TicTacToe" asp-action="Game">
            Start the game
        </a>
    </button>
</div>