@page
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form>
    <div class="row mb-3">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLogin" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>